<%- include('../partials/header') %>


<table id="list">
  <thead>
    <h3 id="getStarted">Things you need to get started</h3>
    <ol id="definventory">
      <li>Star San Sanitizer: EVERYTHING that is going to touch your juice should touch this first.</li>
      <li>Campden tablets: Sterilizer for apple juice/cider, I skip this step but all the other tutorials always mention it.</li>
      <li>Pectic enzyme: It breaks down the pectin in the juice which gives you clear hard cider.</li>
      <li>Kirkland Organic Sugar: As Patches would say "Because it's sterile and I like the taste."</li>
      <li>Airlock: This keeps the bugs out of our brew.</li>
      <li>Empty beer bottles, bottle caps, and capper: For the bubbles and the drinking. It was cheaper to buy a giant case of good beer, drink it, and reuse the bottles than to just buy new bottles...</li>
      <li>4 feet of food grade hose for transfering fluids: Cut it to your need.</li>
      <li>Bottling Wand: Who needs friends when you have a wand.</li>
      <li>Hydrometer: You need a before and after fermentation sugar content reading to know alcohol content.</li>
    </ol>
    <h3 id="instruct">Instructions</h3>
    <ol id="instructions">
      <li>Fill up your sink with water and Star San, throw the bottles, caps, hose, and anything else that might come in contact with our apple tears.</li>
      <li>Take your gallon jug of apple juice and reserve 2 cups to make room for the sugar.</li>
      <li>Into your jug, pour in 1-2 cups of sugar, 1 tablespoon yeast, 1 teaspoon of your enzyme.</li>
      <li>Put the lid back on and shake the jug like it owes you money, then add some of the reserved juice until there's an inch of headspace.</li>
      <li>Take the sterilized hydrometer tube and fill it 2/3 up, drop in the hydrometer and save the reading.</li>
      <li>The bubbler replaces the cap on the jug, you can use star san water, water, or my personal favorite some Jewel of Russia.</li>
      <li>Amazon fresh will give you free giant mylar bags with , put the jug in one of those. They'll keep out the light, moderate temperatures, and keep any leaks inside.</li>
      <li>Put your apple sputnik in the closet or ferment room, check on it daily, 2-3 weeks later you'll have uncarbonated hard cider.</li>
      <li>Take another hydrometer reading, follow the instructions that came with it to calculate ABV.</li>
    </ol>
    <h3 id="bott">Bottling: A study in Mise en place (MEEZ ahn plahs).</h3>
    <ol>
      <li>Everything but the hard cider should get a Star San bath.</li>
      <li>Take a cookie sheet and put it on the floor, explain to your spouse that it's normal.</li>
      <li> 1 gallon jug = 128oz, 1 beer bottle = 12oz, take 11 bottles and put them on the cookie sheet in a tight grid pattern.</li>
      <li>Dosage, or Liqueur D’expedition is french for adding sugar to get bubbles. Yeast + sugar + pressure = bubbles. Put 1 teaspoon of sugar in each bottle, don't put too much or you'll make hand grenades.</li>
      <li>Look up a tutorial on how to fill bottles with a wand, it saves time but can get messy.</li>
      <li>Syphon the cider from your jug into each bottle, fill it up to the top, when you retract the syphon it'll give you the correct headspace. Dont suck up the CRUD in the bottom of the jug.</li>
      <li>Use the bottle capper to cap your bottles.</li>
      <li>Wait 2 weeks if you're inpatient, 1-2 months if you want to do it right.</li>
      <li>Final step and important one, send me the cider for testing purposes. I will leave you a review. </li>
    </ol>
  </thead>
  <tbody>
    <% if (user) { %> 
    <% ciders.forEach(function(m) { %>
      <tr>
        <td><%= m.brewName %></td>
        <td><%= m.xDate.toUTCString() %></td>
        <td><a href="/ciders/<%= m._id %>">DETAILS</a>
          <form action="/ciders/<%= m._id %>?_method=DELETE" class="delete-form" method="POST">
          <button id="delete" type="submit">Delete</button>
        </form>
        </td>
      </tr>
      <% }); %>
      <% } %>
    </tbody>
  </table>

  
<%- include('../partials/footer') %>
