<%- include('../partials/header') %>


<table id="list">
  <thead>
    <ol>
      <li>Star San Sanitizer: EVERYTHING that is going to touch your juice should touch this first.</li>
      <li>Campden tablets: Sterilizer for apple juice/cider.</li>
      <li>Airlock: This keeps the bugs out of our brew.</li>
      <li>Empty beer bottles, bottle caps, and capper.</li>
      <li>4 foot section of food grade hose for transfering fluids.</li>
      <li>You'll be using the container that the juice or cider came in to ferment.</li>
    </ol>
    <tr>
      <th>Title</th>
      <th>Birth<br>day</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% ciders.forEach(function(m) { %>
      <tr>
        <td><%= m.brewName %></td>
        <td><%= m.bDate %></td>
        <td><a href="/ciders/<%= m._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  
<%- include('../partials/footer') %>
